@model CafateriaSystem.Models.Payment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Payment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bill_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bill_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.payer_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.payer_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bill_value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bill_value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.confirmation_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.confirmation_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.deliver_method)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.deliver_method)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.payment_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
