@model CafateriaSystem.Models.Deliver

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Deliver</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dispatch_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dispatch_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deliver_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deliver_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order.deliver_method)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order.deliver_method)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User1.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.deliver_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
