@model PagedList.IPagedList<CafateriaSystem.Models.Deliver>
@using PagedList.Mvc;

<hr />
@using (Html.BeginForm("AdminPanel", "Users", FormMethod.Get))
{
    <p>
        Find by status @Html.TextBox("SearchDelivery", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<hr />

<table class="table">
    <tr>
        <th>
            OrderID
        </th>
        <th>
            Customer Details
        </th>
        <th>
            Order Details
        </th>
        <th>
            Driver Details
        </th>
        <th>
            Delivery Status
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.order_id)
            </td>
            <td>
                @Html.Action("OrderCustomerDetails", "Orders", new { id = item.order_id })
            </td>
            <td>
                @Html.Action("OrderDetailListPartial", "OrderDetails", new { id = item.order_id })
            </td>
            <td>
                @Html.Action("DriverDetails", "Delivers", new { id = item.driver_id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deliver_status)
            </td>


        </tr>

    }

</table>

<hr />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@if (Model.PageCount > 1)
{
    <div class="pagination justify-content-center">
        @Html.PagedListPager(Model, page => Url.Action("AdminDeliveriesPanel", "Users", new { page }))
    </div>
}

